<lx-tabs>
  <lx-tab lx-label="Products">
    <div class="p+">
      <div class="card top-space" ng-repeat="product in products">
        <div class="p+">
          <strong class="fs-headline display-block tc-red-900">
            {{ product.name }}
          </strong>
          <div class="paragraph fs-body-1 mt+">
            <p>Descripcion: {{ product.description }}</p>
            <p>Precio: {{ product.price }}</p>
          </div>
        </div>
        <div class="card__actions">
          <a href="#!/product/{{product._id}}" class="btn btn--m btn--blue btn--flat" lx-ripple>Leer Mas</a>
          <a ng-click="removeProduct(product)" class="btn btn--m btn--red btn--flat" lx-ripple>Eliminar</a>
          <a href="#!/product/edit/{{product._id}}" class="btn btn--m btn--orange btn--flat" lx-ripple>Editar</a>
        </div>
      </div>
    </div>
  </lx-tab>
  <lx-tab lx-label="Users">
    <div class="p+">
      Hola Mundo Users
    </div>
  </lx-tab>
</lx-tabs>
